/*Fonts */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Regular'), local('Hind-Regular'), url(https://fonts.gstatic.com/s/hind/v7/xLdg5JI0N_C2fvyu9XVzXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Bold'), local('Hind-Bold'), url(https://fonts.gstatic.com/s/hind/v7/PQuIEfcr_wdF_zOSNjqWKQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body,
html {
  font-family: "Hind", Georgia, serif;
  font-size: 18px;

}

h1 {
  font-family: "hind";
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: bold;
  padding-top: 1rem;
}
h2 {
  font-family: "Hind";
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.5rem;
  padding-top: 1rem;
}
h3 {
  font-family: "Hild";
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1rem;
}
h4 {
  font-family: "Hild";
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
}
p {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/*Main Containers */
.container-content {
  display: flex;
  top: 64px;
  position: relative;
  width: 100%;
  border: 1px solid red;
/*  height: 500px; */

}

.container-media {
display: inline-block;

}

/*.container-media img,
.container-media video {
  display: inline-block;
  height: auto;
  width: 0 auto;
} */

/*Splice Two - Courses */
.learning {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid purple;
  padding: 32px;
  height: 100%;
  max-width: 1050px;
}

.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 600px;
  margin-bottom: 16px;
  border: 1px solid red;
}

.course-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid blue;
  text-align: left;
  padding-bottom: 24px;
  height: 220px;
  max-width: 25%;
  margin-bottom: 16px;
}

.course-details img {
}




.course-details-content {

}
