/*Fonts */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Regular'), local('Hind-Regular'), url(https://fonts.gstatic.com/s/hind/v7/xLdg5JI0N_C2fvyu9XVzXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Bold'), local('Hind-Bold'), url(https://fonts.gstatic.com/s/hind/v7/PQuIEfcr_wdF_zOSNjqWKQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body,
html {
  font-family: "Hind", Georgia, serif;
  font-size: 18px;
}

h1 {
  font-family: "hind";
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: bold;
  padding-top: 1rem;
}
h2 {
  font-family: "Hind";
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.5rem;
  padding-top: 1rem;
}
h3 {
  font-family: "Hild";
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1rem;
}
h4 {
  font-family: "Hild";
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
}
p {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/*Main Containers */
.container-content {
  display: flex;
  top: 64px;
  position: relative;
  width: 100%;
  }

.content-colleft {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  background-color: grey;
  width: 60%;
}

.content-colright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 40px;
  background-color: #0DFF7D;
  width: 40%;
}

.container-media {
  display: flex;
  width: 100%;
  height: auto;
}

.container-media img,
.container-media video {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/*Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 100%;
  background-color:  #D1FFBC;
  position: fixed;
  margin: 0;
  z-index: 10;
}

header .logo {
  display: flex;
  align-items: center;
  padding-left: 24px;
}

header .logo img {
  display: inline-block;
}

header .logo p {
  padding-left: 10px;
  color: black;
  font-weight: bold;
}

header .logo p span {
  color: grey;
  font-weight: bold;
}

nav .desktop,
nav .mobile {
  padding-right: 20px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 4rem 5px;
}


/*Banner */
.banner {
  display: flex;
  height: 500px;
  justify-content: center;
}

.btn-main {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  background-color: white;
  height: 2rem;
  width: 80%;
  margin-top: 1rem;
}

.btn-main p {
  font-family: Georgia;
  font-size: 1.5rem;
  color: #9332FF;
  border: 1px solid blue;
  text-align: center;
}

.btn-main:hover {
  background-color: #532DE8;
}
.btn-main p:hover {
  color: white;
}

/*Splice OneA - Information */
p.caption {
  font-family: Georgia;
  font-style: italic;
}

/*Splice OneB - Campus Events */
.campus-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 168px;
  width: 423px;
}

.campus-details .container-media {
  width: 35%;
  padding: 16px;
}

.campus-details .container-media img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.event-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
  height: 100%;
}

.event-details a {
  text-decoration: none;
  color: grey;
  font-weight: 500;
}

/*Splice Two - Courses */
.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 16px;
  background-image: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url('https://kathiissermanphotos.files.wordpress.com/2013/11/autumn-colors-an-abstract.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
.courses h2 {
  padding-top: 30px;
  color: white;
}

.learning {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 32px;
  max-width: 1024px;
}

.course-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  padding-bottom: 24px;
  max-width: 30%;
  margin-bottom: 16px;
  background-color: white;
  border: 2px solid black;
}

.course-details-upper {
  height: 220px;
}
.course-details-upper img {
  height: 80%;
  width: 100%;
  }

.course-details-upper h3 {
  padding-left: 16px;
  padding-bottom: 8px;
}

.course-details-lower {
  align-items: flex-start;
  padding-left: 16px;
  padding-right: 8px;
}

.course-details span {
  line-height: 1rem;
  padding: 8px 16px;
  color: #CC1812;
}

/*Splice ThreeA - Thesis Focus */
.thesis {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.thesis-two {
  display: flex;
  flex-direction: row;
}

.thesis-two video {
  padding-bottom: 24px;
}

.thesis-two h3,
.thesis-two p {
  text-align: left;
}

/*Splice ThreeB - Theses Details */
.exhibits {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 168px;
  width: 423px;
}

.exhibits .container-media {
  width: 35%;
  padding: 16px;
}

.exhibits .container-media img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.exhibit-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%;
  height: 100%;
  text-align: left;
}

/*Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height:100px;
  background-color: #D1FFBC;
  margin-top: 64px;
  padding-top: 16px;
}

footer ul {

}

footer p,
footer li {
  display: inline-block;
  padding: 5px;

}
