/*Fonts */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Regular'), local('Hind-Regular'), url(https://fonts.gstatic.com/s/hind/v7/xLdg5JI0N_C2fvyu9XVzXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Bold'), local('Hind-Bold'), url(https://fonts.gstatic.com/s/hind/v7/PQuIEfcr_wdF_zOSNjqWKQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body,
html {
  font-family: "Hind", Georgia, serif;
  font-size: 18px;

}

h1 {
  font-family: "hind";
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: bold;
  padding-top: 1rem;
}
h2 {
  font-family: "Hind";
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.5rem;
  padding-top: 1rem;
}
h3 {
  font-family: "Hild";
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1rem;
}
h4 {
  font-family: "Hild";
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
}
p {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/*Main Containers */
.container-content {
  display: flex;
  top: 64px;
  position: relative;
  width: 100%;
/*  height: 500px; */

}

.content-colleft {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  background-color: grey;
  width: 60%;

}

.content-colright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #0DFF7D;

}

.container-media {
  display: flex;
  width: 100%;
  height: auto;
}

.container-media img,
.container-media video {
  display: inline-block;
  height: auto;
  width: 0 auto;
  overflow: hidden;
}

/*Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 100%;
  background-color: #32ACFF;
  position: fixed;
  margin: 0;
  z-index: 10;
}

header .logo {
  display: flex;
  align-items: center;
  padding-left: 24px;
}

header .logo img {
  display: inline-block;
}

header .logo p {
  padding-left: 10px;
  color: black;
  font-weight: bold;
}

header .logo p span {
  color: grey;
  font-weight: bold;
}

nav .desktop,
nav .mobile {
  padding-right: 20px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 4rem 5px;
}


/*Banner */
.banner {
  height: 500px;
}

.btn-main {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  background-color: white;
  height: 2rem;
  width: 80%;
  margin-top: 1rem;
}

.btn-main p {
  font-family: Georgia;
  font-size: 1.5rem;
  color: #9332FF;
  border: 1px solid blue;
  text-align: center;
}

.btn-main:hover {
  background-color: #532DE8;
}
.btn-main p:hover {
  color: white;
}

/*Splice OneA - Information */
p.caption {
  font-family: Georgia;
  font-style: italic;
}

/*Splice OneB - Campus Events */
.campus-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 33%;
/*  width: 423px; */
  padding: 16px;
  border: 1px solid white;
}

.campus-details .container-media {
  height: 85%;
  width: 35%;
  border: 1px solid yellow;
}

.campus-details .container-media img {
  width: 148.05px;
  height: 148.05px;
}

.event-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  padding-left: 10px;
  height: 85%;
}

.event-details p {
padding-top: 8px;
padding-bottom: 8px;
}

.event-details a {
  text-decoration: none;
  color: grey;
  font-weight: 500;
}

/*Splice Two - Courses */
.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 16px;

}

.learning {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid purple;
  padding: 32px;
  max-width: 1024px;
}

.course-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid blue;
  text-align: left;
  padding-bottom: 24px;
  height: 300px;
  max-width: 25%;
  margin-bottom: 16px;
}


.course-details span {
  padding: 8px 0;
  color: aqua;
}




.course-details-content {

}
